<launch>
  <arg name="config" default = "$(find okvis_ros)/okvis/config/config_fpga_p2_euroc.yaml" />
  <arg name="bag" default = "/home/lilabws001/catkin_ws/datasets/euroc_mav/MH_01_easy.bag" />

  <node name="okvis_node" pkg="okvis_ros" type="okvis_node_synchronous" output="screen" args="$(arg config) $(arg bag)">
    <param name="mesh_file" value="firefly.dae" />
    <param name="camera_topic_0" value="/cam0/image_raw" />
    <param name="camera_topic_1" value="/cam1/image_raw" />
    <param name="imu_topic" value="/imu0" />
  </node>
</launch>
